header {
  position: fixed;
  left: 0; 
  top: 0;

  height: 100px;
  width: 100%;

  background: #888; 
  border-bottom: 1px solid #000;
}

.parent {
  position: relative;
  top: 105px;

  width: 1190px;
  margin-right: auto;
  margin-left: auto;
}

.block {
  display: inline-block;

  width: 280px;
  height: 280px;

  padding: 5px; 
  border: 1px solid #000; 
  background: #aaa;
}

