header {
  position: fixed;
  left: 0; 
  top: 0;

  height: 100px;
  width: 100%;

  background: #888; 
  border-bottom: 1px solid #000;
}

#parent {
  position: relative;
  top: 105px;
  font-size: 0;
  margin: auto;

}

#block {
  display: inline-block;

  width: 25%;
  height: 25vw;

  background: #aaa;
}

/*@media screen and (max-width: 1280) {
	#block {
      width: 50%;
      height: 50vw;
	}
}

@media screen and (min-width: 1281) {
	#block {
      width: 25%;
      height: 25vw;
	}
} */